body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

nav {
  background: rgb(4, 4, 100);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: 70px;
    border: none;

    a {
      text-decoration: none;
      border: none;
      color: rgb(245, 243, 243);
      font-size: 22px;
      text-transform: initial;
      margin-left: 10px;
    }
  }
  .messages {
    text-decoration: none;
    padding-bottom: 2px;
    color: white;

    .router-link-exact-active {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
  }
}

.home {
  text-align: center;
  margin-top: 150px;
  p {
    font-size: 40px;
    color: #362f2f;
  }

  div {
    text-align: -webkit-center;
  }
  button {
    width: 200px;
    display: block;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  .login {
    background-color: #1877f2;
  }
  .register {
    background-color: #42b72a;
  }
}
.messageItem{
  .theme--dark.v-card > .v-card__text{
    color: white;
    font-family: sans-serif;
  }
}
.loginForm{
  height: 100%;
  width: 500px;
}
